body {
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;    /*seperate all the squares to different lines*/
	margin: 1.66%;  /*space between the squares*/
	border-radius: 15%;
	transition: background 0.7s;
	-webkit-transition: background 0.7s; /*improve compatibility to different brower*/
	-moz-transition: background 0.7s;
}

#container{
	margin: 20px auto;  /*0 margin on the top and bottom of the container, and auto on left and right*/
	max-width: 600px;
}

h1 {
	color: white;
	line-height: 1.1;
	text-align: center;
	background: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	padding: 20px 0;
}

#colorDisplay{
	font-size: 200%;
}

#message{
	display: inline-block;
	width: 20%;
	color: black;
}
span{
	color: white;
}

#stripe{
	background: white;
	height: 30px;
	text-align: center;
	border: none;
}

.selected{
	color:white;
	background: steelblue;
	border: none;
}

button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.4s;
	-webkit-transition: background 0.4s; /*improve compatibility to different brower*/
	-moz-transition: background 0.4s;
	outline: none;
}

button:hover{
	color:white;
	background: steelblue;
}