<h1>This is Home Page</h1>

<h2>You will be redirected to sign up page if you are not logged in and try to access the secret page!</h2>
<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>